{% extends "base.html" %}
{% block head_title %}Подписки на авторов{% endblock %}
{% block title %}
    {% if user.get_full_name %}
    <h2> Подписки автора {{ user.get_full_name }} </h2>
    {% else %}
    <h2> Подписки автора {{ user.username }} </h2>
    {% endif %}
{% endblock %}
{% block content %}
    {% for post in page_obj %}
      {% include 'includes/posts.html' %}
        {% if post.group %}
          <p>
            <a href="{% url 'posts:group_list' post.group.slug %}">
              Все записи группы
            </a>
          </p>
        {% endif %}
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}

{% include 'posts/paginator.html' %}
{% endblock %}